/* This is the font we imported from Google */
@import url("https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Muli:300,400|Raleway:400,600|Poppins:300,500&display=swap");

/* General styles for elements throughout the entire site */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

/* Apply the border box reset to all items on the page */
* {
  box-sizing: border-box;
}

/* Styles for the header */
.main-header {
  background-color: #2d3152;
  border-bottom: 8px solid #cda74e;
  padding: 20px 90px;
  display: flex;
  align-items: center;
}

/* Styles for the logo container */
.logo-container {
  flex: 1;
}

.logo-link {
  display: flex;
  align-items: center;
  font-family: "Muli", sans-serif;
}

.logo-text {
  margin-left: 24px;
  color: #ffffff;
  font-size: 20px;
}

.logo-link:hover {
  opacity: 0.8;
}

/* Styles for the top navigation */
.top-navigation-list {
  display: flex;
}

.top-navigation-list li {
  margin-right: 100px;
}

.top-navigation-list li:last-child {
  margin-right: 0;
}

.top-navigation-link {
  color: #ffffff;
  font-size: 20px;
  font-family: "Muli", sans-serif;
}

.top-navigation-link:hover {
  opacity: 0.8;
}

/* Styles for the hero area */
.hero-area,
.project-hero {
  background-image: url("../img/backgrounds/hero.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 90px;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  font-family: "Bilbo Swash Caps", cursive;
  font-size: 80px;
  color: #2d3152;
  margin-bottom: 45px;
}

.hero-text {
  font-size: 20px;
  line-height: 140%;
  color: #2d3152;
  max-width: 790px;
  font-family: "Raleway", sans-serif;
}

.hero-text strong {
  font-weight: 700;
}

.hero-text em {
  display: block;
  font-style: italic;
  text-align: center;
}

.button {
  background-color: #cda74e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 360px;
  text-align: center;
  padding: 32px;
  width: 100%;
  color: #ffffff;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  display: block;
}

.hero-button {
  margin-top: 80px;
}

.hero-button:hover {
  opacity: 0.8;
}

/* Styles for Projects in the homepage */
.projects {
  padding: 100px 0;
}

.projects-title {
  font-size: 50px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #2d3152;
}

.projects-list {
  margin-top: 60px;
}

.project {
  background-image: url("../img/backgrounds/border.png");
  background-repeat: no-repeat;
  margin-bottom: 125px;
}

/* Styles for the generic titles */
.title-container {
  display: flex;
}

.title {
  background-color: #2d3852;
  max-width: 445px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
}

/* Specific adjustments for the homepage titles */
.project-title-container {
  padding: 40px 0 80px 0;
}

.project-title {
  padding: 24px 100px;
}

.project-content-container {
  display: flex;
}

.project-text-container {
  background: #7d93a5;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 80px 55px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.project-description {
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Muli", sans-serif;
  margin-bottom: 20px;
}

.homepage-project-text {
  color: #ffffff !important;
}

.project-button {
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 32px;
  border: 3px solid #ffffff;
  text-align: center;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 26px;
  align-self: flex-end;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.project-button:hover {
  opacity: 0.8;
}

.project-image-container {
  flex: 2;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
}

.project-image-container img {
  display: block;
  width: 100%;
}

/* Specific adjustments based on the project alignment */
.project.left-aligned {
  margin-right: 70px;
  background-position: top right;
}

.project.left-aligned .project-content-container {
  margin-left: 100px;
}

.project.left-aligned .project-image-container {
  margin-right: 100px;
}

.project.right-aligned {
  margin-left: 70px;
  background-position: top left;
}

.project.right-aligned .project-title-container {
  justify-content: flex-end;
}

.project.right-aligned .project-content-container {
  margin-right: 100px;
}

.project.right-aligned .project-image-container {
  margin-left: 100px;
}

/* Styles for the footer */
.footer-cta-container {
  background-color: #2d3152;
  display: flex;
  align-items: center;
  padding: 40px 100px;
}

.footer-cta-title {
  color: #ffffff;
  font-family: "Muli", sans-serif;
  font-size: 26px;
  flex: 1;
  max-width: 760px;
}

.footer-cta {
  margin-left: 150px;
}

.footer-cta:hover {
  opacity: 0.8;
}

.footer-copyright-container {
  display: flex;
  align-items: center;
  margin: 8px 100px;
}

.footer-copyright-text {
  color: #2d3152;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  flex: 1;
}

.social-networks-list {
  display: flex;
}

.social-network {
  margin-right: 68px;
  transition: all 0.3s ease-in-out;
}

.social-network:hover {
  opacity: 0.8;
}

.social-network:last-child {
  margin-right: 0;
}

/* Styles for the biography */
.biography {
  margin: 70px 0;
  display: flex;
}

.biography-text-container {
  flex: 2;
}

.biography-subtitle,
.biography-text {
  margin: 0 70px;
}

.biography-subtitle {
  margin-bottom: 20px;
  font-family: "Muli", sans-serif;
  font-size: 26px;
  color: #2d3152;
  font-style: italic;
}

.biography-text {
  font-family: "Muli", sans-serif;
  color: #2d3152;
  font-weight: 300;
  line-height: 140%;
  font-size: 22px;
  margin-bottom: 24px;
}

.biography-text strong {
  font-weight: 600;
}

.biography-image-container {
  margin-right: 70px;
  flex: 1;
}

.biography-image-container img {
  width: 100%;
}

/* Specific adjustments for the biography titles */
.biography-title-container {
  margin-bottom: 30px;
}

.biography-title {
  padding: 24px 70px;
}

/* Styles for the contact section */
.contact {
  margin: 150px 0;
  text-align: center;
}

.contact-title {
  margin-bottom: 70px;
  font-family: "Muli", sans-serif;
  font-size: 20px;
  color: #2d3152;
  font-weight: 700;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 920px;
  margin: auto;
}

.contact-input {
  border: 1px solid #d4d4d4;
  height: 39px;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  color: rgba(95, 99, 106, 0.62);
  font-size: 14px;
  padding: 16px;
  margin-bottom: 24px;
}

.contact-textarea {
  border: 1px solid #d4d4d4;
  height: 240px;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  color: rgba(95, 99, 106, 0.62);
  font-size: 14px;
  padding: 16px;
  margin-bottom: 90px;
  resize: none;
}

.contact-cta {
  border: none;
  margin: auto;
  transition: all 0.3s ease-in-out;
}

.contact-cta:hover {
  opacity: 0.8;
}

/* Styles for the projects section */

.project-hero {
  background-image: url("../img/backgrounds/steel.jpg");
  flex-direction: row;
}

.project-hero .hero-button {
  display: block;
}

/* General styles for sections inside projects */
.section {
  margin: 65px 0;
}

.section-title {
  padding: 25px 110px;
  width: 100%;
}

.section-container {
  max-width: 1160px;
  margin: auto;
}

.section-text-container {
  margin: 30px auto;
}

.section-subtitle {
  color: #2d3152;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Muli", sans-serif;
  margin-bottom: 30px;
}

.project-text {
  font-family: "Muli", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #2d3152;
  line-height: 140%;
}

.project-text strong {
  font-weight: 700;
}

.section-text {
  max-width: 910px;
  margin-bottom: 45px;
}

.section-text strong {
  font-weight: 700;
}

.section-text .image-container {
  max-width: max-content;
  margin-right: 0;
}

.section-text .image-container {
  margin: auto;
}

.section-text .image-description {
  margin-top: 10px;
  font-size: 16px;
}

/* Styles for Roles, Deliverables, Tools */
.section-tables {
  display: flex;
}

.section-tables li {
  margin-right: 65px;
}

.section-tables li hr {
  border: none;
  border-top: 1px solid #2d3152;
}

.table-title {
  font-weight: 600;
}

.table-container {
  display: flex;
}

.table-items {
  margin-top: 20px;
  flex: 1;
}

.table-items li strong {
  font-weight: 400;
}

/* Styles to size the columns */
.one-quarter {
  flex: 1;
}

.two-quarters {
  flex: 2;
}

/* Styles for the Problem-Solution section */
.problem-solution {
  background-color: rgba(125, 147, 165, 0.15);
  padding: 54px 0;
}

/* Styles for competitive analysis */
.competitive-analysis {
  display: flex;
  justify-content: center;
  max-width: 910px;
  margin-bottom: 75px;
}

.competitive-analysis li {
  margin: 0 45px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.competitive-analysis li > * {
  flex: 100%;
}

.competitor-image {
  align-self: flex-start;
}

.competitor-name {
  align-self: flex-end;
  text-decoration: underline;
}

/* Styles for the User Survey */
.survey-findings {
  margin-left: 80px;
}

.survey-findings li {
  line-height: 160%;
}

.survey-findings li strong {
  font-weight: 700;
}

.survey-button {
  margin: 65px 0 145px 0;
}

.define,
.brand-identity {
  background-color: rgba(125, 147, 165, 0.15);
  padding: 70px 0;
}

/* Styles for the Personas */
.personas {
  max-width: 1160px;
  margin: auto;
}

.persona {
  display: flex;
  margin-bottom: 60px;
}

.image-container {
  max-width: 245px;
  margin-right: 20px;
}

.image-container img {
  width: 100%;
  display: block;
}

.image-container blockquote {
  background-color: #2d3152;
  padding: 30px 10px;
  font-size: 16px;
  font-style: italic;
  color: #ffffff;
  line-height: 140%;
  text-align: center;
  font-family: "Muli", sans-serif;
}

.text-container {
  max-width: 630px;
}

.persona-title {
  font-size: 20px;
  margin-bottom: 0;
}

.personas-button {
  margin: auto;
}

.stories {
  max-width: 910px;
}

.story {
  padding: 12px 15px;
}

.stories-button {
  margin: auto;
  margin-top: 110px;
  margin-bottom: 70px;
}

/* Change the background color of the odd stories */
.story:nth-child(odd) {
  background-color: #2d3152;
  color: #ffffff;
}

/* Styles for the User Flows */
.flows {
  display: flex;
  flex-wrap: wrap;
}

.flows li {
  flex: 1;
}

.flows li:last-child {
  flex: 100%;
  text-align: center;
}

.flows li img {
  max-width: 100%;
}

.flows-list {
  list-style-type: number;
  margin-left: 20px;
}

.flows-list li:last-child {
  text-align: left;
}

/* Styles for the sitemap */
.sitemap-image {
  display: block;
  margin: auto;
  margin-top: 60px;
}

/* Styles for the wireframes */
.wireframe-images {
  margin-top: 55px;
}

.sketches-button {
  margin: 30px auto;
}

.digital-wireframes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 760px;
  margin: 58px auto;
  grid-gap: 5px;
}

.digital-wireframes li img {
  width: 150px;
  display: block;
}

.digital-wireframes li:last-child {
  grid-column: 1/-1;
}

.wireframes-button {
  margin: auto;
}

/* Styles for Brand Identity */
.brand-identity .section-title {
  padding: 25px 50px;
}

.image-container.brand-identity-image {
  margin: 40px auto;
}

/* Styles for logos */
.logos {
  display: flex;
  margin: 45px 0 75px 0;
}

.logos li {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.logos li .project-text {
  flex: 100%;
}

.logos li img {
  align-self: flex-end;
}

.color-variations {
  display: flex;
  flex-wrap: wrap;
}

.color-variations li {
  flex: 50%;
  text-align: center;
  margin-bottom: 30px;
}

/* Styles for the Typography */
.image-container.typography-styles {
  margin: 45px auto;
}
