/* This is the font we imported from Google */
@import url("https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Muli:300,400|Raleway:400,600|Poppins:300,500&display=swap");

/* General styles for elements throughout the entire site */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

/* Apply the border box reset to all items on the page */
* {
  box-sizing: border-box;
}

/* Styles for the header */
.main-header {
  background-color: #2d3152;
  border-bottom: 8px solid #cda74e;
  padding: 20px 90px;
  display: flex;
  align-items: center;
}

/* Styles for the logo container */
.logo-container {
  flex: 1;
}

.logo-link {
  display: flex;
  align-items: center;
  font-family: "Muli", sans-serif;
}

.logo-text {
  margin-left: 24px;
  color: #ffffff;
  font-size: 20px;
}

.logo-link:hover {
  opacity: 0.8;
}

/* Styles for the top navigation */
.top-navigation-list {
  display: flex;
}

.top-navigation-list li {
  margin-right: 100px;
}

.top-navigation-list li:last-child {
  margin-right: 0;
}

.top-navigation-link {
  color: #ffffff;
  font-size: 20px;
  font-family: "Muli", sans-serif;
}

.top-navigation-link:hover {
  opacity: 0.8;
}

/* Styles for the hero area */
.hero-area {
  background-image: url("../img/backgrounds/hero.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 90px;
  background-position: bottom;
}

.hero-title {
  font-family: "Bilbo Swash Caps", cursive;
  font-size: 80px;
  color: #2d3152;
  margin-bottom: 45px;
}

.hero-text {
  font-size: 20px;
  line-height: 140%;
  color: #2d3152;
  max-width: 790px;
  font-family: "Raleway", sans-serif;
}

.hero-text strong {
  font-weight: 700;
}

.hero-text em {
  display: block;
  font-style: italic;
  text-align: center;
}

.hero-button {
  margin-top: 80px;
  background-color: #cda74e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 350px;
  text-align: center;
  padding: 32px;
  width: 100%;
  color: #ffffff;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.hero-button:hover {
  opacity: 0.8;
}

/* Styles for Projects in the homepage */
.projects {
  padding: 100px 0;
}

.projects-title {
  font-size: 50px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #2d3152;
}

.projects-list {
  margin-top: 60px;
}

.project {
  background-image: url("../img/backgrounds/border.png");
  background-repeat: no-repeat;
  margin-bottom: 125px;
}

/* Styles for the generic titles */
.title-container {
  display: flex;
}

.title {
  background-color: #2d3852;
  max-width: 445px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
}

/* Specific adjustments for the homepage titles */
.project-title-container {
  padding: 40px 0 80px 0;
}

.project-title {
  padding: 24px 100px;
}

.project-content-container {
  display: flex;
}

.project-text-container {
  background: #7d93a5;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 80px 55px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.project-description {
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Muli", sans-serif;
  margin-bottom: 20px;
}

.project-text {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
}

.project-button {
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 32px;
  border: 3px solid #ffffff;
  text-align: center;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 26px;
  align-self: flex-end;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.project-button:hover {
  opacity: 0.8;
}

.project-image-container {
  flex: 2;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
}

.project-image-container img {
  display: block;
  width: 100%;
}

/* Specific adjustments based on the project alignment */
.project.left-aligned {
  margin-right: 70px;
  background-position: top right;
}

.project.left-aligned .project-content-container {
  margin-left: 100px;
}

.project.left-aligned .project-image-container {
  margin-right: 100px;
}

.project.right-aligned {
  margin-left: 70px;
  background-position: top left;
}

.project.right-aligned .project-title-container {
  justify-content: flex-end;
}

.project.right-aligned .project-content-container {
  margin-right: 100px;
}

.project.right-aligned .project-image-container {
  margin-left: 100px;
}

/* Styles for the footer */
.footer-cta-container {
  background-color: #2d3152;
  display: flex;
  align-items: center;
  padding: 40px 100px;
}

.footer-cta-title {
  color: #ffffff;
  font-family: "Muli", sans-serif;
  font-size: 26px;
  flex: 1;
  max-width: 760px;
}

.footer-cta {
  margin-left: 150px;
  background-color: #cda74e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 370px;
  text-align: center;
  padding: 32px;
  width: 100%;
  color: #ffffff;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.footer-cta:hover {
  opacity: 0.8;
}

.footer-copyright-container {
  display: flex;
  align-items: center;
  margin: 8px 100px;
}

.footer-copyright-text {
  color: #2d3152;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  flex: 1;
}

.social-networks-list {
  display: flex;
}

.social-network {
  margin-right: 68px;
  transition: all 0.3s ease-in-out;
}

.social-network:hover {
  opacity: 0.8;
}

.social-network:last-child {
  margin-right: 0;
}

/* Styles for the biography */
.biography {
  margin: 70px 0;
  display: flex;
}

.biography-text-container {
  flex: 2;
}

.biography-subtitle,
.biography-text {
  margin: 0 70px;
}

.biography-subtitle {
  margin-bottom: 20px;
  font-family: "Muli", sans-serif;
  font-size: 26px;
  color: #2d3152;
  font-style: italic;
}

.biography-text {
  font-family: "Muli", sans-serif;
  color: #2d3152;
  font-weight: 300;
  line-height: 140%;
  font-size: 22px;
  margin-bottom: 24px;
}

.biography-text strong {
  font-weight: 600;
}

.biography-image-container {
  margin-right: 70px;
  flex: 1;
}

.biography-image-container img {
  width: 100%;
}

/* Specific adjustments for the biography titles */
.biography-title-container {
  margin-bottom: 30px;
}

.biography-title {
  padding: 24px 70px;
}

/* Styles for the contact section */
.contact {
  margin: 150px 0;
  text-align: center;
}

.contact-title {
  margin-bottom: 70px;
  font-family: "Muli", sans-serif;
  font-size: 20px;
  color: #2d3152;
  font-weight: 700;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 920px;
  margin: auto;
}

.contact-input {
  border: 1px solid #d4d4d4;
  height: 39px;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  color: rgba(95, 99, 106, 0.62);
  font-size: 14px;
  padding: 16px;
  margin-bottom: 24px;
}

.contact-textarea {
  border: 1px solid #d4d4d4;
  height: 240px;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  color: rgba(95, 99, 106, 0.62);
  font-size: 14px;
  padding: 16px;
  margin-bottom: 90px;
  resize: none;
}

.contact-cta {
  background-color: #cda74e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 350px;
  text-align: center;
  padding: 32px;
  width: 100%;
  color: #ffffff;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  border: none;
  margin: auto;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
}

.contact-cta:hover {
  opacity: 0.8;
}
